
.el-tabs__nav-wrap{
	padding:0px 10px;
}

.el-collapse-item__header{
	color: none;
  background-color: none;
  outline: none;
	box-shadow: none;
	padding: 30px;
}

.app_el-tabs{
	background-color: #feffff;
	border-radius: 5px;
	border: 0.1rem solid #45505F;
	margin: 15px;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, .6),
		2px 2px 2px 2px rgb(255, 253, 252);
}

.app_el-tab-pane{
	background-color: #FEFFFF;
	color: #333;
	padding:0px 10px 10px 10px;
}

.app_el-container {
	background-color: #feffff;
	border-radius: 5px;
	border: 0.1rem solid #45505F;
	margin: 15px;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, .6),
		2px 2px 2px 2px rgb(255, 253, 252);
}

.app_el-header{
	background-color: #F1F1F1;
	border-radius: 5px 5px 0px 0px;
	color: #333;
	line-height: 60px;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, .6),
	2px 2px 2px 2px rgb(255, 253, 252);
}

.app_el-footer{
	background-color: #F1F1F1;
	border-radius: 0px 0px 5px 5px;
	color: #333;
	line-height: 60px;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, .6),
	2px 2px 2px 2px rgb(255, 253, 252);
}

.app_el-aside {
	background-color: #F1F1F1;
	color: #333;
	line-height: 200px;
}

.app_el-main {
	background-color: #FEFFFF;
	color: #333;
}

.app_el-card{ 
	width: 90vw;
	min-width: 360px;
	height: auto;
} 

@media screen and (min-width: 1201px) { 
.app_el-card {
	width: 280px;
	min-height: 150px;
} 
} 

.app_btn {
  -webkit-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
  -moz-box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
  box-shadow: 0 2px 2px 0 rgba(153, 153, 153, 0.14), 0 3px 1px -2px rgba(153, 153, 153, 0.2), 0 1px 5px 0 rgba(153, 153, 153, 0.12);
}

.app_btn {
  -webkit-box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
  -moz-box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
  box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2);
}